body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.site_navigation,
.catalog_list,
.products,
.advantages,
.social_network,
.footer_link,
.user_navigation {
  list-style: none;
}

a {
  color: #ffffff;
}

a:hover,
a:focus {
  color: #ffbc9e;
}

.nav_item > a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.user_navigation  li {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

.logo_search input[type=search],
.reg_hover input[type=email],
.reg_hover input[type=password] {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.reg_hover button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.reg_hover a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.header_info {
  position: absolute;
}

.working_hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header_phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.slide p {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.slide a {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.shares h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.shares p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

}

.shares a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

}

.products a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.product_wrap .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.product_wrap .kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;

}

.product_wrap .product {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.caption_advantages {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.advantages {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.blog_caption {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog a {
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.mailing_text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.mailing input[type=email] {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.mailing button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.contacts a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.feedback_caption a {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback textarea::placeholder { /*изменения */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback  button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.footer_links li {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.for_suppliers {
  list-style: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  color: #ffffff;
}

.copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.inner_page {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.basket_with_item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #323232;
}

.basket_list li {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket_list .gray {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
}

.basket_list .total_price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.basket_list .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.ice_cream_catalog {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}

.filter {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filter legend:last-of-type  {
  font-size: 14px;
  line-height: auto;
  font-weight: 500;
  color: #ffffff;
}

.product_wrap .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
/*------------  Сеточные стили  --------------------*/

html,
body {
  min-width: 1122px;
  min-height: 1750px;
}

.main_header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 74px;
}

.main_navigation {
  display: flex;
  justify-content: space-between;
}

.site_navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 375px;
  width: 350px;
  padding: 0;
}

.user_navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0;
  width: 247px;
}

.button_magnifier {
  width: 33px;
  height: 33px;
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.logo_header {
  margin-top: 10px;
  margin-right: 24px;
}

.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog_list {
  display: none;
}

.nav_item_hover:hover .catalog_list {
  display: block;
}

.search_hover form {
  display: none;
}

.search_hover:hover form {
  display: block;
}

.reg_hover {
  display: none;
}

.sign_in_hover:hover .reg_hover {
  display: block;
}

.header_info {
text-align: right;
position: absolute;
top: 70px;
right: 20px;
margin: 0;
padding: 0;
}


.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.slide {
  text-align: center;
  margin-bottom: 41px;
}

.shares {
  display: flex;
  margin-bottom: 40px;
}

.share_card {
  width: 560px;
  min-height: 230px;
  text-align: right;
}

.share_card_raspberry {
  background-color: #461d14;
  background-image: url(../img/razzberry.jpg);
  margin-right: 26px;
}

.share_card_chocolate {
  background-color: #461d14;
  background-image: url(../img/chocolate.jpg);
}

.cart_caption {
  margin-left: 20px;
  text-align: left;
}

.share_card p {
  margin-left: 20px;
  text-align: left;
}

.button_raspberry {
  width: 165px;
  margin-right: 20px;

}

.button_chocolate {
  width: 190px;
  margin-right: 20px;
}


.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.product_wrap {
  width: 267px;
}

.product_wrap img {
  border-radius: 9999999999px;
}

.product_wrap:not(:nth-child(4n)) {
    margin-right: 26px;
}

.product {
  text-align: center;
  white-space: normal;
}

.about_shop {
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #efe1c9;
  padding: 15px 0;
  background-image: url(../img/wafer_pattern.jpg);
}

.caption_advantages {
margin: 10px 20px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantage_i {
  width: 560px;
  position: relative;
  box-sizing: border-box;
  padding: 11px 21px 11px 68px;
}

.advantage_i_popsicle{
  background-image: url(../img/popsicle.svg);
  background-position: 15px 1px;
  background-repeat: no-repeat;
}

.advantage_i_cow{
  background-image: url(../img/cow.svg);
  background-position: 15px 1px;
  background-repeat: no-repeat;
}

.advantage_i_leaf{
  background-image: url(../img/leaf.svg);
  background-position: 15px 1px;
  background-repeat: no-repeat;
}

.advantage_i_thermometer{
  background-image: url(../img/thermometer.svg);
  background-position: 15px 1px;
  background-repeat: no-repeat;
}

.blog_mailing {
  display: flex;
  justify-content: space-between;
}

.blog_mailing_i {
    margin: 0 0 487px;
    height: 220px;
}

.blog {
  margin-right: 26px;
  width: 560px;
  min-height: 220px;
  background-image: url(../img/laying.jpg);
  border-radius: 15px;
}

.blog h2 {
  margin: 0px;
  margin-left: 20px;
  padding-top: 30px;
}

.blog p {
  margin-left: 20px;
  width: 290px;
}

.blog a {
  border-bottom: 2px solid #323232;
}

.mailing {
  box-sizing: border-box;
  padding: 5px;
  background-color: #ffffff;
  width: 560px;
  min-height: 220px;
  background-image: url(../img/striped_back.png);
  border-radius: 15px;
}

.mailing_form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 28px 20px 35px;
  height: auto;
  background-color: #f8f7f4;
  border-radius: 12px;
  font-size: 0;
}

.mailing_text {
margin-bottom: 15px;
align-self: flex-start;
min-height: 88px;
font-size: 16px;
line-height: 22px;
font-weight: 400;
text-align: left;
}

.mailing_form input[type=email] {
    margin-right: 12px;
    box-sizing: border-box;
    padding: 9px 15px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    outline: none;
}

/*----------------------------------------*/


.map_container {
  position: absolute;
  top: 70px;
  right: 20px;
}

.map_relative {
  position: relative;
}

.map {
  position: absolute;
    overflow: hidden;
    background-image: url(../img/map.jpg);
    width: 1200px;
    height: 430px;
}

.contacts {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 302px;
  background-color: #ffffff;
  border-radius: 10px;
}

.contacts p:nth-of-type(1) {
    width: 148px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 7px;
    }

.contacts p:nth-of-type(2) {
    width: 222px;
    margin-left: 25px;
    margin-top: 7px;
    margin-bottom: 12px;
  }

  .contacts p:nth-of-type(3) {
    margin-left: 25px;
    margin-top: 12px;
    margin-bottom: 7px;
}

  .contacts p:nth-of-type(4) {
    margin-left: 25px;
    margin-top: 7px;
    margin-bottom: 5px;
}

  .contacts p:nth-of-type(5) {
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
}

  .contacts a {
    width: 252px;
    height: 44px;
    margin-bottom: 31px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 25px;
    box-shadow: none;
    text-align: center;
}
/*------------------------------------------*/


.button {
  background: linear-gradient(to top, #f26843, #e74a35);
    padding: 8px 23px 12px;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
    border-radius: 22px;
}

.button_big {
  padding: 7px 40px 11px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  border-radius: 31px;
}

.page_footer {
  display: flex;
  justify-content: space-between;
}

.filter_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.filter {
  max-width: 860px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  max-width: 200px;
  margin-left: auto;
}

.pagination-list a {
  text-decoration: none;
}
