body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.site_navigation,
.catalog_list,
.products,
.advantages,
.social_network,
.footer_link,
.user-navigation {
   list-style: none;
}

  a {
  color: #ffffff;
}

a:hover,
a:focus {
  color: #ffbc9e;
}

.nav_item > a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.user-navigation_list > li {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

.logo_search input[type=search],
.reg_hover input[type=email],
.reg_hover input[type=password] {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.reg_hover button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.reg_hover a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.working_hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header_phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.slide p {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.slide a {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.shares h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  background-color: #461d14;
}

.shares p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  background-color: #461d14;

}

.shares a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

}

.products a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.product_wrap .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.product_wrap .kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;

}

.product_wrap .product {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.caption_advantages {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  background-color: #efe1c9;
  color: #323232;
}

.advantages {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: #efe1c9;
  color: #323232;
}

.blog_caption {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.mailing p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.mailing input[type=email] {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.mailing button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.contacts a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.feedback_caption a {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback textarea::placeholder { /*изменения */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback  button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.footer_links li {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.for_suppliers {
  list-style: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  color: #ffffff;
}

.copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.button {
  background: linear-gradient(to top, #f26843, #e74a35);
}

.inner_page {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.basket_with_item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #323232;
}

.basket_list li {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket_list .gray {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
}

.basket_list .total_price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.basket_list .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.ice_cream_catalog {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.filter {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filter legend:last-of-type  {
  font-size: 14px;
  line-height: auto;
  font-weight: 500;
  color: #ffffff;
}

.product_wrap .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.pagination-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
